body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: black;
    position: fixed;
    height: 90px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
    justify-content: start;
    gap: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: tomato;
    transition: all ease-in .4s;
}